<nav class="navbar">
    <span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
    {{request.session.username}}
    <span class="caret"></span>
    </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">修改信息</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{% url 'accounts:logout' %}">注销</a></li>
  </ul>
</span>

    {{request.session.userdept}}

    <ul class="nav nav-pills pull-right">

        {% if request.session.userrole != 'manager' %}
        <li role="presentation"><a class="btn btn_default" href="{% url 'main:home' %}">Home</a></li>
        <li role="presentation">
            <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                我的报告
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="{% url 'main:getMyReports' 0 %}">未提交</a></li>
                    <li><a href="{% url 'main:getMyReports' 1 %}">已提交</a></li>
                    <li><a href="{% url 'main:getMyReports' 2 %}">在审</a></li>
                    <li><a href="{% url 'main:getMyReports' 6 %}">退回</a></li>
                </ul>
            </span>
        </li>

        {% if request.session.userrole == 'leader' %}
        <li role="presentation">
            <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                科室报告
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    <li><a href="{% url 'main:getTheirReports' 1 %}">待审</a></li>
                    <li><a href="{% url 'main:getTheirReports' 2 %}">在审</a></li>
                    <li><a href="{% url 'main:getTheirReports' 3 %}">已审</a></li>
                    <li><a href="{% url 'main:getTheirReports' 7 %}">退回</a></li>
                </ul>
            </span>
        </li>
        {% endif %}

        {% else %}

        {% for key,value in request.session.depts.items %}
        <li role="presentation">
            <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                    {{value}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'main:getDeptReports' 3 key %}">待审</a></li>
                    <li><a href="{% url 'main:getDeptReports' 4 key %}">在审</a></li>
                    <li><a href="{% url 'main:getDeptReports' 7 key %}">退回</a></li>
                </ul>
            </span>
        </li>
        {% endfor %}

        {% endif %}

    </ul>
</nav>

