<nav class="navbar">
    <span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
    {{request.session.username}}
    <span class="caret"></span>
    </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">修改信息</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{% url 'accounts:logout' %}">注销</a></li>
  </ul>
</span>

    {{request.session.userrole}} {{request.session.userdept}}



    <ul class="nav nav-pills pull-right">
        <li role="presentation"><a class="btn btn_default" href="{% url 'main:home' %}">Home</a></li>
        <li role="presentation">
            <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                我的报告
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="{% url 'main:getReports' 0 %}">未提交</a></li>
                    <li><a href="{% url 'accounts:logout' %}">已提交</a></li>
                    <li><a href="#">在审</a></li>
                    <li><a href="#">退回</a></li>
                </ul>
            </span>
        </li>
        <li role="presentation"><a href="#">About</a></li>
    </ul>
</nav>

