{% load myfiltertag %}

<nav class="navbar">
    <span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
    {{request.session.username}}
    <span class="caret"></span>
    </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{% url 'accounts:changepw' %}">修改信息</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{% url 'accounts:logout' %}">注销</a></li>
  </ul>
</span>

    {{request.session.userdept}}

    <ul class="nav nav-pills pull-right">

        <li role="presentation"><a class="btn btn_default" href="{% url 'main:home' %}">Home</a></li>

        {% if request.session.userrole == 'worker' %}
        <li role="presentation">
            <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                我的报告
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="{% url 'main:getMyReports' 0 %}">未提交 {% report_num 'w0'%}</a></li>
                    <li><a href="{% url 'main:getMyReports' 1 %}">已提交 {% report_num 'w1'%}</a></li>
                    <li><a href="{% url 'main:getMyReports' 11 %}">审核中 {% report_num 'w11'%}</a></li>
                    <li><a href="{% url 'main:getMyReports' 6 %}">被退回 {% report_num 'w6'%}</a></li>
                </ul>
            </span>
        </li>

        {% elif request.session.userrole == 'leader' %}
        {% for key,value in request.session.depts.items %}
        <li role="presentation">
            <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                {{value}}
                <span class="caret"></span>
                </button>
                {% if request.session.userdept == value %}
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    <li><a href="{% url 'main:getTheirReports' 1 %}">已提交科室 {% report_num 'l1'%}</a></li>
                    <li><a href="{% url 'main:getTheirReports' 2 %}">科室审核中 {% report_num 'l2'%}</a></li>
                    <li><a href="{% url 'main:getTheirReports' 3 %}">已提交部门 {% report_num 'l3'%}</a></li>
                    <li><a href="{% url 'main:getTheirReports' 4 %}">部门审核中 {% report_num 'l4'%}</a></li>
                    <li><a href="{% url 'main:getTheirReports' 6 %}">退回员工 {% report_num 'l6'%}</a></li>
                    <li><a href="{% url 'main:getTheirReports' 7 %}">退回科室 {% report_num 'l7'%}</a></li>
                </ul>
                {% else %}
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    <li><a href="{% url 'main:getExtraReports' 1 key %}">已提交科室 {% report_num 'l1'%}</a></li>
                    <li><a href="{% url 'main:getExtraReports' 2 key %}">科室审核中 {% report_num 'l2'%}</a></li>
                    <li><a href="{% url 'main:getExtraReports' 3 key %}">已提交部门 {% report_num 'l3'%}</a></li>
                    <li><a href="{% url 'main:getExtraReports' 4 key %}">部门审核中 {% report_num 'l4'%}</a></li>
                    <li><a href="{% url 'main:getExtraReports' 7 key %}">退回科室 {% report_num 'l6'%}</a></li>
                </ul>
                {% endif %}
            </span>
        </li>
        {% endfor %}

        {% elif request.session.userrole == 'manager' %}
        {% for key,value in request.session.depts.items %}
        <li role="presentation">
            <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    {{value}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'main:getDeptReports' 3 key %}">已提交部门 {% report_num 'm3' key %}</a></li>
                    <li><a href="{% url 'main:getDeptReports' 4 key %}">部门审核中 {% report_num 'm4' key %}</a></li>
                    <li><a href="{% url 'main:getDeptReports' 7 key %}">退回科室 {% report_num 'm7' key %}</a></li>
                </ul>
            </span>
        </li>
        {% endfor %}

        {% endif %}


        <li role="presentation"><a class="btn btn_default" href="{% url 'main:history' %}">历史</a></li>


    </ul>
</nav>

