{% extends 'jumbotron_base.html' %}

{% block title %}Edit Report WE{% endblock %}

{% block link %}

{% load myfiltertag %}
{% endblock %}


{%block maincontent %}


{% include 'reportTitlew.html' %}

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#partLong" aria-controls="partLong" role="tab" data-toggle="tab">长期项目</a></li>
        <li role="presentation"><a href="#partShort" aria-controls="partShort" role="tab" data-toggle="tab">短期项目</a></li>
        <li role="presentation"><a href="#partDaily" aria-controls="partDaily" role="tab" data-toggle="tab">日常运维</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="partLong">
            <div style="height:90px;justify-content:center;align-items:center;display:flex" >
            <button type="button" style="font-size:18px;" class="btn btn-primary" data-toggle="modal" data-target="#taskModal" data-tid="" data-tdesc="" data-tdone="" data-type="1">
                添加项目
            </button>
            </div>

            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-bordered" style="table-layout:fixed;">
                    <thead>
                    <tr>
                        <th style="width:40%">任务描述</th>
                        <th style="width:40%">完成内容</th>
                        <th style="width:20%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="taskareaL" class="taskarea">
                    {% show_tasks tasksL True%}
                    </tbody>
                </table>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="partShort">
            <div style="height:90px;justify-content:center;align-items:center;display:flex">
            <button type="button" style="font-size:18px;" class="btn btn-primary" data-toggle="modal" data-target="#taskModal" data-tid="" data-tdesc="" data-tdone="" data-type="2">
                添加项目
            </button>
            </div>
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width:40%">任务描述</th>
                        <th style="width:40%">完成内容</th>
                        <th style="width:20%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="taskareaS" class="taskarea">
                    {% show_tasks tasksS True %}
                    </tbody>
                </table>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="partDaily">
            <div style="height:90px;justify-content:center;align-items:center;display:flex">
            <button type="button" style="font-size:18px;" class="btn btn-primary" data-toggle="modal" data-target="#taskModal" data-tid="" data-tdesc="" data-tdone="" data-type="3">
                添加项目
            </button>
            </div>

            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-bordered" style="{table-layout:fixed;}">
                    <thead>
                    <tr>
                        <th style="width:40%">任务描述</th>
                        <th style="width:40%">完成内容</th>
                        <th style="width:20%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="taskareaD" class="taskarea">
                    {% show_tasks tasksD True %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<form action="{% url 'main:saveReport' 1 %}" role="form"  method="POST">
    <fieldset>
        {% csrf_token %}
        <input type="hidden" id="reportid" name="reportid" value={{reportid}}>

        <!--<table class="table table-bordered" style="{table-layout:fixed;}">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th style="width:20%">指标名称</th>-->
                <!--<th style="width:60%">计分规则</th>-->
                <!--<th style="width:20%">自评分数</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>长期项目研发</td>-->
                <!--<td>基准30,最高35</td>-->
                <!--<td>{{reportForm.scoreL}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>短期研发测试</td>-->
                <!--<td>基准25,最高30</td>-->
                <!--<td>{{reportForm.scoreS}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>日常运维支撑</td>-->
                <!--<td>基准25,最高30</td>-->
                <!--<td>{{reportForm.scoreD}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>日常行为规范</td>-->
                <!--<td>达到5分</td>-->
                <!--<td>{{reportForm.scoreR}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

        <input type="submit" class="btn btn-default" value="提交">
    </fieldset>
</form>

{% endblock %}

{% block partofbody%}
{% include 'taskModal.html' %}
{% endblock %}


{%block bodyscriptadd %}



$(document).ready(function(){
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

$('.modal').modal({
backdrop:false,
show:false
})

$('#taskModal').on('show.bs.modal', function (event) {
var button = $(event.relatedTarget) // Button that triggered the modal
var taskid = button.data('tid')
var taskdesc = button.data('tdesc')
var taskdone = button.data('tdone')
var tasktype= button.data('type')

var modal = $(this)
modal.find('#taskid').val(taskid)
modal.find('#tasktype').val(tasktype)
modal.find('#desc').val(taskdesc)
modal.find('#done').val(taskdone)


})

    $("#taskmodalsubmit").click(function(){
        var modal = $('#taskModal')
        var reportid = $('#reportid').val()

        var taskid = modal.find('#taskid').val()
        var taskdesc = modal.find('#desc').val()
        var taskdone = modal.find('#done').val()
        var tasktype = modal.find('#tasktype').val()

        $.post("{% url 'main:ajaxedittask' %}",{
            'reportid':reportid,
            'taskid':taskid,
            'taskdesc':taskdesc,
            'taskdone':taskdone,
            'tasktype':tasktype
            },
            function(data,status){
                modal.modal('hide')
                <!--获取从cookie里传过来的tasktype-->
                var tasktype = Cookies.get('tasktype')
                switch(tasktype){
                    case '1':
                        $("#taskareaL").html(data);
                        break;
                    case '2':
                        $("#taskareaS").html(data);
                        break;
                    case '3':
                        $("#taskareaD").html(data);
                        break;
                }
                <!--用完后删除cookie里的tasktype-->
                 Cookies.remove('tasktype');
            });
        });


    $(".taskarea").on("click",".deletetask",function(event){
        var button = $(event.target)
        var taskid = button.data('tid')
        if(confirm('确认删除？')==true){
            $.post("{% url 'main:ajaxdeletetask' %}",{'taskid':taskid},function(data,status){
                 <!--获取从cookie里传过来的tasktype-->
                 var tasktype = Cookies.get('tasktype')
                 switch(tasktype){
                    case '1':
                        $("#taskareaL").html(data);
                        break;
                    case '2':
                        $("#taskareaS").html(data);
                        break;
                    case '3':
                        $("#taskareaD").html(data);
                        break;
                    default:
                        break;
                }
                <!--用完后删除cookie里的tasktype-->
                Cookies.remove('tasktype');
            });
        }
    });

});





{% endblock %}