{% extends 'jumbotron_base.html' %}

{% block title %}Edit Report LE{% endblock %}

{%block maincontent %}

{% include 'reportTitlel.html' %}

{% include 'taskArea.html' %}

<form action="{% url 'main:saveReport' 2 %}" role="form"  method="POST">
    <fieldset>
        {% csrf_token %}
        <input type="hidden" id="reportid" name="reportid" value={{reportid}}>

        <table class="table table-bordered" style="{table-layout:fixed;}">
            <thead>
            <tr>
                <th style="width:50%">指标名称</th>
                <th style="width:50%">科室评分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>长期项目研发</td>
                <td>{{reportForm.scoreL}}</td>
            </tr>
            <tr>
                <td>短期研发测试</td>
                <td>{{reportForm.scoreS}}</td>
            </tr>
            <tr>
                <td>日常运维支撑</td>
                <td>{{reportForm.scoreD}}</td>
            </tr>
            <tr>
                <td>日常行为规范</td>
                <td>{{reportForm.scoreR}}</td>
            </tr>
            </tbody>
        </table>


        <input type="submit" class="btn btn-default" formaction="{% url 'main:retrieveReport'%}" value="退回">
        <input type="submit" class="btn btn-default" value="保存">
        <input type="submit" class="btn btn-default" formaction="{% url 'main:saveReport' 3 %}" value="提交">

    </fieldset>
</form>

{% endblock %}

