{% extends 'jumbotron_base.html' %}

{% block title %}Edit Report ME{% endblock %}

{%block maincontent %}

{% include 'reportTitlem.html' %}

{% include 'taskArea.html' %}

<form action="{% url 'main:saveReport' 4 %}" role="form"  method="POST">
    <fieldset>
        {% csrf_token %}
        <input type="hidden" id="reportid" name="reportid" value={{reportid}}>
        <input type="hidden" id="deptsum" name="deptsum" value={{deptsum}}>

        <table class="table table-bordered" style="{table-layout:fixed;}">
            <thead>
            <tr>
                <th style="width:20%;text-align:center">指标名称</th>
                <th style="width:20%;text-align:center">技术开发科评分</th>
                <th style="width:20%;text-align:center">IT支撑科评分</th>
                <th style="width:20%;text-align:center">规划发展科评分</th>
                <th style="width:20%;text-align:center">部门评分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>长期项目研发</td>
                <td>{{dept1Score.0}}</td>
                <td>{{dept2Score.0}}</td>
                <td>{{dept3Score.0}}</td>
                <td>{{reportForm.scoreL}}</td>
            </tr>
            <tr>
                <td>短期研发测试</td>
                <td>{{dept1Score.1}}</td>
                <td>{{dept2Score.1}}</td>
                <td>{{dept3Score.1}}</td>
                <td>{{reportForm.scoreS}}</td>
            </tr>
            <tr>
                <td>日常运维支撑</td>
                <td>{{dept1Score.2}}</td>
                <td>{{dept2Score.2}}</td>
                <td>{{dept3Score.2}}</td>
                <td>{{reportForm.scoreD}}</td>
            </tr>
            <tr>
                <td>日常行为规范</td>
                <td>{{dept1Score.3}}</td>
                <td>{{dept2Score.3}}</td>
                <td>{{dept3Score.3}}</td>
                <td>{{reportForm.scoreR}}</td>
            </tr>
            <tr>
                <td>总分</td>
                <td colspan="4" id="totalscore"></td>
            </tr>
            </tbody>
        </table>

        <br/>
        <label>加分申请</label>
        <textarea type="text" name="note1" rows="8" cols="80" readonly="readonly">{{note1}}</textarea>

        <br/>
        <label>科室批复</label>
        <textarea type="text" name="note2" rows="8" cols="80" readonly="readonly">{{note2}}</textarea>

        <br/>
        <label>部门批复</label>
        <textarea type="text" name="note" rows="8" cols="80" >{{reportForm.note.value}}</textarea>

        <input class="btn btn-default" type="submit" formaction="{% url 'main:saveReport' 7 %}" value="退回">
        <input class="btn btn-default" type="submit" value="保存">
        <input class="btn btn-default" type="submit" formaction="{% url 'main:saveReport' 5 %}" value="归档">
    </fieldset>
</form>

{% endblock %}


{%block bodyscriptadd %}

function getSum(){
        var sum2 = parseFloat($('#deptsum').val()) *0.5
        var l3 = parseFloat($('#id_scoreL').val())
        var s3 = parseFloat($('#id_scoreS').val())
        var d3 = parseFloat($('#id_scoreD').val())
        var r3 = parseFloat($('#id_scoreR').val())
        var sum3 = (l3+s3+d3+r3)*0.5

        var sum = sum2+sum3
        $('#totalscore').text(sum)
}

$(document).ready(function(){
    getSum()
    $('#id_scoreL').on('input propertychange', getSum);
    $('#id_scoreS').on('input propertychange', getSum);
    $('#id_scoreD').on('input propertychange', getSum);
    $('#id_scoreR').on('input propertychange', getSum);

});

{% endblock %}