{% extends 'jumbotron_base.html' %}

{% block title %}Edit Report H{% endblock %}

{%block maincontent %}

{% include 'reportTitlem.html' %}

{% include 'taskArea.html' %}


<form action="{% url 'main:retrieveReport' %}" role="form"  method="POST">
    <fieldset>
        {% csrf_token %}
        <input type="hidden" id="reportid" name="reportid" value={{reportid}}>

        <table class="table table-bordered" style="{table-layout:fixed;}">
            <thead>
            <tr>
                <th style="width:25%;text-align:center">指标名称</th>
                <th style="width:15%;text-align:center">技术开发科评分</th>
                <th style="width:15%;text-align:center">IT支撑科评分</th>
                <th style="width:15%;text-align:center">规划发展科评分</th>
                <th style="width:15%;text-align:center">部门评分</th>
                <th style="width:15%;text-align:center">总评分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>长期项目研发</td>
                <td>{{dept1Score.0}}</td>
                <td>{{dept2Score.0}}</td>
                <td>{{dept3Score.0}}</td>
                <td>{{scorel3}}</td>
                <td rowspan="4" style="vertical-align:middle;">{{sum}}</td>
            </tr>
            <tr>
                <td>短期研发测试</td>
                <td>{{dept1Score.1}}</td>
                <td>{{dept2Score.1}}</td>
                <td>{{dept3Score.1}}</td>
                <td>{{scores3}}</td>
            </tr>
            <tr>
                <td>日常运维支撑</td>
                <td>{{dept1Score.2}}</td>
                <td>{{dept2Score.2}}</td>
                <td>{{dept3Score.2}}</td>
                <td>{{scored3}}</td>
            </tr>
            <tr>
                <td>日常行为规范</td>
                <td>{{dept1Score.3}}</td>
                <td>{{dept2Score.3}}</td>
                <td>{{dept3Score.3}}</td>
                <td>{{scorer3}}</td>
            </tr>
            </tbody>
        </table>

        <br/>
        <label>加分申请</label>
        <textarea type="text" name="note1" rows="8" cols="80" readonly="readonly">{{note1}}</textarea>

        <br/>
        <label>科室批复</label>
        <textarea type="text" name="note2" rows="8" cols="80" readonly="readonly">{{note2}}</textarea>

        <br/>
        <label>部门批复</label>
        <textarea type="text" name="note3" rows="8" cols="80" readonly="readonly">{{note3}}</textarea>

    </fieldset>
</form>

{% endblock %}

