{% extends 'jumbotron_base.html' %}

{% block title %}Edit Report H{% endblock %}

{%block maincontent %}

{% include 'reportTitlem.html' %}

{% include 'taskArea.html' %}


<form action="{% url 'main:retrieveReport' %}" role="form"  method="POST">
    <fieldset>
        {% csrf_token %}
        <input type="hidden" id="reportid" name="reportid" value={{reportid}}>

        <table class="table table-bordered" style="{table-layout:fixed;}">
            <thead>
            <tr>
                <th style="width:40%">指标名称</th>
                <th style="width:20%">科室评分</th>
                <th style="width:20%">部门评分</th>
                <th style="width:20%">总评分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>长期项目研发</td>
                <td>{{scorel2}}</td>
                <td>{{scorel3}}</td>
                <td rowspan="4" style="vertical-align:middle;">{{sum}}</td>
            </tr>
            <tr>
                <td>短期研发测试</td>
                <td>{{scores2}}</td>
                <td>{{scores3}}</td>
            </tr>
            <tr>
                <td>日常运维支撑</td>
                <td>{{scored2}}</td>
                <td>{{scored3}}</td>
            </tr>
            <tr>
                <td>日常行为规范</td>
                <td>{{scorer2}}</td>
                <td>{{scorer3}}</td>
            </tr>
            </tbody>
        </table>

    </fieldset>
</form>

{% endblock %}

