{% extends 'jumbotron_base.html' %}

{% block title %}Edit Report{% endblock %}

{% block link %}
{% load myfiltertag %}
{% endblock %}


{%block maincontent %}


<p>部门：{{department}} </p>
<p>报告人：{{author}} </p>
<p>期号：{{ reportmonth|date:'Y-m' }} </p>


<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#partLong" aria-controls="partLong" role="tab" data-toggle="tab">长期项目</a></li>
        <li role="presentation"><a href="#partShort" aria-controls="partShort" role="tab" data-toggle="tab">短期项目</a></li>
        <li role="presentation"><a href="#partDaily" aria-controls="partDaily" role="tab" data-toggle="tab">日常运维</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="partLong">
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-bordered" style="table-layout:fixed;">
                    <thead>
                    <tr>
                        <th style="width:40%">任务描述</th>
                        <th style="width:40%">完成内容</th>
                    </tr>
                    </thead>
                    <tbody id="taskareaL" class="taskarea">
                    {% show_tasks tasksL taskEditable%}
                    </tbody>
                </table>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="partShort">
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width:40%">任务描述</th>
                        <th style="width:40%">完成内容</th>
                    </tr>
                    </thead>
                    <tbody id="taskareaS" class="taskarea">
                    {% show_tasks tasksS taskEditable %}
                    </tbody>
                </table>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="partDaily">
            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-bordered" style="{table-layout:fixed;}">
                    <thead>
                    <tr>
                        <td style="width:40%">任务描述</td>
                        <td style="width:40%">完成内容</td>
                    </tr>
                    </thead>
                    <tbody id="taskareaD" class="taskarea">
                    {% show_tasks tasksD taskEditable %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<form action="{% url 'main:saveReport' 4 %}" role="form"  method="POST">
    <fieldset>
        {% csrf_token %}
        <input type="hidden" id="reportid" name="reportid" value={{reportid}}>

        <table class="table table-bordered" style="{table-layout:fixed;}">
            <thead>
            <tr>
                <th style="width:25%">指标名称</th>
                <th style="width:25%">自评分数</th>
                <th style="width:25%">科室评分</th>
                <th style="width:25%">部门评分</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>长期项目研发</td>
                <td>{{scorel1}}</td>
                <td>{{scorel2}}</td>
                <td>{{reportForm.scoreL}}</td>
            </tr>
            <tr>
                <td>短期研发测试</td>
                <td>{{scores1}}</td>
                <td>{{scores2}}</td>
                <td>{{reportForm.scoreS}}</td>
            </tr>
            <tr>
                <td>日常运维支撑</td>
                <td>{{scored1}}</td>
                <td>{{scored2}}</td>
                <td>{{reportForm.scoreD}}</td>
            </tr>
            <tr>
                <td>日常行为规范</td>
                <td>{{scorer1}}</td>
                <td>{{scorer2}}</td>
                <td>{{reportForm.scoreR}}</td>
            </tr>
            </tbody>
        </table>

        {% if hasbtn %}
        <input type="submit" formaction="{% url 'main:retrieveReport'%}" value="退回">
        <input type="submit" value="保存">
        <input type="submit" formaction="{% url 'main:saveReport' 5 %}" value="归档">
        {% endif %}
    </fieldset>
</form>

{% endblock %}

