{% extends 'jumbotron_base.html' %}

{% block title %}History{% endblock %}

{% block link %}

{% load static %}
<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

{% load myfiltertag %}
{% endblock %}


{%block maincontent %}

<form action="{% url 'main:toexcel' %}" role="form"  method="POST">
    {% csrf_token %}
<label>报告月份：</label><input type="text" id="datetimepicker" readonly name="month" required>
<br>
<br>
    <input class="btn btn-default" type="submit" value="导出到excel" id="toexcelbtn">
</form>

<br>
<br>
<div id="reportlistarea"></div>


{% endblock %}


{%block bodyscriptlink %}

{% load static %}
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/locales/bootstrap-datetimepicker.zh-CN.js' %}" charset="UTF-8"></script>

{% endblock %}



{%block bodyscriptadd %}

$(document).ready(function(){
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $('#datetimepicker').datetimepicker({
        language:'zh-CN',
        format:'yyyy-mm',
        autoclose: true,
        startView:3,
        minView:3,
        startDate:new Date('2017-1-1')
    }).on('changeDate', function(ev){
        if($('#datetimepicker').val()==''){
            $('#toexcelbtn').attr('disabled',true)
        }else{
            $('#toexcelbtn').attr('disabled',false)
        }

         $.post("{% url 'main:ajaxgetreports' %}",{
            'month':$('#datetimepicker').val()
            },
            function(data,status){
                $("#reportlistarea").html(data);
            });
        });


});

{% endblock %}