{% extends 'jumbotron_base.html' %}

{% block title %}Home{% endblock %}

{%block maincontent %}

{% if request.session.userrole != 'manager' and request.session.userrole != 'leader' %}
    {% if newbtn %}
        <a href="{% url 'main:addReport' %}" class="btn btn-lg btn-default">填写报告</a>
    {% endif %}
{% endif %}

<br/>
<p style="text-align:left"><small>v1</small></p>
<p style="text-align:left"><small>如果当月（或之前月份）报告尚未创建，Home界面将出现“填写报告”按钮，点击将创建该月报告</small> </p>
<p style="text-align:left"><small>员工可在“我的报告”下拉菜单中查看自己的报告，科室负责人可在“科室报告”下拉菜单看到本科室员工的报告，部门负责人可在各科室的下拉菜单看到对应科室的报告 </small></p>
<p style="text-align:left"><small>员工在提交报告后，该报告处于“已提交”状态，此时可撤回报告重新填写并提交</small></p>
<p style="text-align:left"><small>科室负责人对报告进行审核，此时报告进入“审核中”状态，员工不可撤回此报告</small></p>
<p style="text-align:left"><small>科室负责人审核完成并提交报告给部门负责人，该报告处于“已提交部门”状态，此时科室负责人可撤回报告并重新填写及提交</small></p>
<p style="text-align:left"><small>部门负责人对报告进行审核，此时报告进入“部门审核中”状态，科室负责人不可撤回此报告</small></p>
<p style="text-align:left"><small>科室负责人/部门负责人在审核报告时，如对报告内容不认可，可将报告退回前一级，由前一级操作者重新填写并提交</small></p>
<p style="text-align:left"><small>部门负责人审核通过后，点击“归档”按钮，报告进入历史数据库存档</small></p>
<p style="text-align:left"><small>可点击“历史”按钮进入历史页面，查看特定月份部门所有的报告，历史报告可保存为excel文档，保存到本地</small></p>
<p style="text-align:left"><small>v2</small></p>
<p style="text-align:left"><small>科室负责人对所有员工进行评分（而不仅是本科室员工），但只有本科室负责人具有将报告退回给员工的权限；员工重新提交报告后，科室负责人需重新对该报告进行处理</small></p>
<p style="text-align:left"><small>科室部分的评分规则为：0.5*本科室负责人评分 + 0.25*（另外两个科室负责人评分之和）</small></p>
<p style="text-align:left"><small>历史汇总会展示所有科室评分内容</small></p>

{% endblock %}

