{% extends 'jumbotron_base.html' %}

{% block title %}Home{% endblock %}

{%block maincontent %}

{% block content %}
    <h2>{{title}}</h2>

    <table class="table table-bordered" style="{table-layout:fixed;}">
        <thead>
            <tr>
                <th style="width:28%;text-align:center">姓名 月份</th>
                <th style="width:18%;text-align:center">部门</th>
                <th style="width:12%;text-align:center">员工自评</th>
                <th style="width:12%;text-align:center">科室评分</th>
                <th style="width:12%;text-align:center">部门评分</th>
            </tr>
        </thead>
        <tbody>
            {% for report in report_list %}
            <tr>
                <td><a href="{% url 'main:editReport' report.pk %}">{{report.author}} {{report.month|date:'Y-m' }}</a></td>
                <td>{{report.author.get_department_display}}</td>
                <td>{{report.getSum1}}</td>
                <td>{{report.getSum2}}</td>
                <td>{{report.getSum3}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% endblock %}

